-#
  Renders the main information regarding a club

  Requires the following instance variables to be passed by the controller:

  @param club Club the club for which information will be shown
.panel.panel-primary
  .panel-heading
    .panel-title= @club.name
  .panel-body
    .col-xs-4
      = render "clubs/user_details", users: @club.admins, panel_title: t('club.admins')
    .col-xs-4
      .panel.panel-info
        .panel-heading
          .panel-title= t('club.teams')
        .panel-body
          %table.table
            %tr
              %th= t('club.team_name')
              %th= t('statistics.played_won_short')
            - for team in @club.teams
              %tr= team.name
              %tr= "#{team.games.length}(#{team.games_won.length})"
    .col-xs-4
      = render "clubs/user_details", users: @club.members, panel_title: t('club.members')
