-#
  Renders the main information regarding a club

  Requires the following instance variables to be passed by the controller:

  @param [Club] club the club for which information will be shown
.panel.panel-primary
  .panel-heading
    %h1.panel-title= t('club.long_name', name: @club.name)
  .panel-body
    .col-xs-6
      .panel.panel-info
        .panel-heading
          .panel-title= t('team.players')
        .panel-body
          = render "public/user_details_panel", users: @club.admins, panel_title: t('club.admins'), entity: @club, actions_renderer: create_admin_actions_proc(@club)
          = render "public/user_details_panel", users: @club.users, panel_title: t('club.members'), entity: @club
    .col-xs-6
      .panel.panel-info
        .panel-heading
          .panel-title= t('club.teams')
        .panel-body
          %table.table
            %tr
              %th.text-center= t('club.team_name')
              %th.text-center= t('statistics.played_won_short')
              - if can? :edit, @club
                %th.text-center= t('general.actions')
            - for team in @club.teams
              %tr
                %td.text-center= link_to team.name, team_path(team)
                %td.text-center= "#{team.games.count}(#{team.won_games.count})"
                - if can? :edit, @club
                  %td.text-center= link_to 'PH', '#'
= render 'clubs/navbar', club: @club
