-#
  Renders the main information regarding a club

  Requires the following instance variables to be passed by the controller:

  @param [Club] club the club for which information will be shown
.panel.panel-primary
  .panel-heading
    %h1.panel-title= t('club.long_name', name: @club.name)
  .panel-body
    .col-xs-4
      = render "public/user_details_panel", users: @club.admins, panel_title: t('club.admins'), entity: @club
    .col-xs-4
      .panel.panel-info
        .panel-heading
          .panel-title= t('club.teams')
        .panel-body
          %table.table
            %tr
              %th= t('club.team_name')
              %th= t('statistics.played_won_short')
              - if can? :edit, @club
                %th= t('general.actions')
            - for team in @club.teams
              %tr
                %td= link_to team.name, team_path(team)
                %td= "#{team.games.count}(#{team.won_games.count})"
                - if can? :edit, @club
                  %td= link_to 'PH', '#'
    .col-xs-4
      = render "public/user_details_panel", users: @club.members, panel_title: t('club.members'), entity: @club

= content_for :module_navbar do
  - if can? :edit, @club
    %li.dropdown
      = link_to '#', data: { toggle: 'dropdown' }, role: 'button' do
        = t('club.administrate')
        %span.caret
      %ul.dropdown-menu{ role: 'menu' }
        %li
          = link_to t('club.invite'), '#', class: 'js-show-app-modal', data: { formlink: "#{new_invitations_path}?club_id=#{@club.id}&is_admin=#{false}", formid: 'newInvitation'}
        %li
          = link_to t('club.add_admin'), '#'
        %li.divider
        %li
          = link_to t('club.create_team'), '#', class: 'js-show-app-modal', data: { formlink: "#{new_team_path}?club_id=#{@club.id}", formid: "newTeam" }
        %li
          =link_to t('club.edit'), '#'
