-#
  Renders the form required to create or edit the details of team for a particular club

  Requires the following instance variables to be initialized

  @param [Team] team The variable for which the form will be built
  @param [Club] club The club to which the team will be added to
#newTeam
  .modal-header
    %h2.modal-title= t('team.new')
  .modal-body
    = form_for @team do |f|
      .form-horizontal
        = f.hidden_field :club_id, value: @club.id
        .form-group
          = f.label :name, class: 'col-sm-4 control-label'
          .col-sm-6
            = f.text_field :name, class: 'form-control'
        .form-group
          = render 'public/modal_form_buttons', form: f
