-#
	Renders the form needed to create an automatically calculated game in a stage of a tournament. This is meant to be rendered inside a div with the modal-dialog class applied to it

	Requires the following instance variables to be initialized:

	@param [Game] game An instance of a game, which will be used to produce the form
	@param [Array<Team>] teams A collection of the teams that can be matched in this game
#newAutoGame
	.modal-header
		%h2.modal-title= t('game.new')
	.modal-body
		= form_for @game do |f|
			= f.hidden_field :stage_id, value: @game.stage_id
			= f.hidden_field :blue_team_calculation, id: 'blueTeamCalculation', value: "l|0|#{@stages.first.id}"
			= f.hidden_field :white_team_calculation, id: 'whiteTeamCalculation', value: "l|0|#{@stages.first.id}"
			.form-horizontal
				.form-group
					= f.label :starts_at, class: 'col-sm-3 control-label'
					.col-sm-7
						= f.datetime_select :starts_at, class: 'form-control'
				%hr
				.team-details
					.team-label= t('game.blue_team')
					.stage-container{ data: { 'target-calculation': '#blueTeamCalculation' } }
						.stage-details
							.stage-param-label= t('stage.stage')
							.stage-param
								%select.js-team-calculation-param.js-stage-param= options_from_collection_for_select @stages, :id, :name
						.stage-details
							.stage-param-label= t('statistics.position')
							.stage-param
								%input.js-team-calculation-param.js-position-param{ type: 'number', min: 1, value: 1 }
				%hr
				.team-details
					.team-label= t('game.white_team')
					.stage-container{ data: { 'target-calculation': '#whiteTeamCalculation' } }
						.stage-details
							.stage-param-label= t('stage.stage')
							.stage-param
								%select.js-team-calculation-param.js-stage-param= options_from_collection_for_select @stages, :id, :name
						.stage-details
							.stage-param-label= t('statistics.position')
							.stage-param
								%input.js-team-calculation-param.js-position-param{ type: 'number', min: 1, value: 1 }
				%hr
				.form-group
					= render 'public/modal_form_buttons', form: f
	