-#
  Renders the modals that are used to score goals in a game

  @param Game game The game that's being played
.modal.fade#blueGoalModal
  .modal-dialog
    .modal-content
      .modal-header
        %h2.modal-title= t('game.goal_for', team_name: "#{game.blue_team.name}")
      .modal-body
        = form_for score, remote: true do |f|
          .form-group
            = f.hidden_field :game_id, value: game.id
            %h3= t('game.scoring_player')
            = f.collection_select :player_id,
                                  game.blue_players,
                                  :id,
                                  :number_name,
                                  {},
                                  { class: 'form-control team-dropdown' }
            = f.submit t('general.score'), class: 'btn btn-primary form-control'

.modal.fade#whiteGoalModal
  .modal-dialog
    .modal-content
      .modal-header
        %h2.modal-title= t('game.goal_for', team_name: "#{game.white_team.name}")
      .modal-body
        = form_for score, remote: true do |f|
          .form-group
            = f.hidden_field :game_id, value: game.id
            %h3= t('game.scoring_player')
            = f.collection_select :player_id,
                                  game.white_players,
                                  :id,
                                  :number_name,
                                  {},
                                  { class: 'form-control team-dropdown' }
            = f.submit t('general.score'), class: 'btn btn-default form-control'
