-#
  Displays the information, and allows manipulating, a game that has already started

  @param Game game The game to be displayed, which should be in a started state
  @param Score score An instance that will be used to add scores to players
.col-xs-12
  .col-xs-12.js-chronometers-panel
    %h3= t('game.chronometers')
    .js-chronometers{ data: { game: game.id } }
      .col-xs-12
        .col-xs-3
          %h4.text-center= t('game.chronometer_name')
        .col-xs-3
          %h4.text-center= t('game.chronometer_minutes')
        .col-xs-3
          %h4.text-center= t('game.chronometer_seconds')
    - if can? :update, game
      %hr
      .text-right
        = link_to t('game.add_chronometer'), add_chronometer_games_path, class: 'btn btn-primary', remote: true
  .col-xs-12{ style: 'margin-top: 20px;' }
    %h3= t('game.scoreboard')
    .col-xs-5
      .panel.panel-primary
        .panel-heading
          %h2.panel-title= game.blue_team.name
        .panel-content
          %table.table
            %tr
              %th.text-center= t('game.player')
              %th.text-center= t('statistics.goals_scored')
            - game.blue_players.each do |player|
              %tr
                %td.text-center= player.number_name
                - scored_goals = game.goals_for(player)
                %td.text-center{ id: "goals-#{player.id}"}= scored_goals > 0 ? scored_goals : ""

    .col-xs-2.scoreboard.text-center
      %table
        %tr
          %td.text-center
            %h1.js-blue-goals= game.blue_goals
          %td.text-center
            %h1 -
          %td.text-center
            %h1.js-white-goals= game.white_goals
        - if can? :update, game
          %tr
            %td.text-center
              %a.btn.btn-primary{ href: '#',
                                  data: { toggle: 'modal',
                                          target: '#blueGoalModal' } }
                = t('game.goal')
            %td.text-center
            %td.text-center
              %a.btn.btn-default{ href: '#',
                                  data: { toggle: 'modal',
                                          target: '#whiteGoalModal' } }
                = t('game.goal')

    .col-xs-5
      .panel.panel-default
        .panel-heading
          %h2.panel-title= game.white_team.name
        .panel-content
          %table.table
            %tr
              %th.text-center= t('game.player')
              %th.text-center= t('statistics.goals_scored')
            - game.white_players.each do |player|
              %tr
                %td.text-center= player.number_name
                - scored_goals = game.goals_for(player)
                %td.text-center{ id: "goals-#{player.id}"}= scored_goals > 0 ? scored_goals : ""
= render 'games/score_modals', game: game, score: score
