.panel.panel-success
  .panel-heading
    %h1 Juego en curso
  .panel-content
    .row
      .col-xs-4
        .panel.panel-primary
          .panel-heading
            %h2= @game.blue_team.name
          .panel-content
            - @blue_players.each do |player|
              .row{ id: player.id }
                .col-xs-2
                  = player.number
                .col-xs-8
                  = player.name
                .col-xs-2.goals
                  = "G" * @game.goals_for(player)
              
      .col-xs-2.scoreboard
        .col-xs-4.js-blue-goals
          %h3= @game.blue_goals
          %a.btn.btn-primary{ href: '#',
                              data: { toggle: 'modal',
                                      target: '#blueGoalModal' } }
            GOL!
        .col-xs-4
          %h3 -
        .col-xs-4.js-white-goals
          %h3= @game.white_goals
          %a.btn.btn-default{ href: '#',
                              data: { toggle: 'modal',
                                      target: '#whiteGoalModal' } }
            GOL!
      .col-xs-4
        .panel.panel-default
          .panel-heading
            %h2= @game.white_team.name
          .panel-content
            - @white_players.each do |player|
              .row{ id: player.id }
                .col-xs-2
                  = player.number
                .col-xs-8
                  = player.name
                .col-xs-2.goals
                  = "G" * @game.goals_for(player)

/ Modals
.modal.fade#blueGoalModal
  .modal-dialog
    .modal-content
      .modal-header
        %h2.modal-title= "Gol de #{@game.blue_team.name}"
      .modal-body
        = form_for @score, remote: true do |f|
          .form-group
            = f.hidden_field :game_id, value: @game.id
            %h3 Jugador anotador
            = f.collection_select :player_id,
                                  @blue_players,
                                  :id,
                                  :number_name,
                                  {},
                                  { class: 'form-control' }
            = f.submit 'Anotar', class: 'btn btn-primary form-control'

.modal.fade#whiteGoalModal
  .modal-dialog
    .modal-content
      .modal-header
        %h2.modal-title= "Gol de #{@game.white_team.name}"
      .modal-body
        = form_for @score, remote: true do |f|
          .form-group
            = f.hidden_field :game_id, value: @game.id
            %h3 Jugador anotador
            = f.collection_select :player_id,
                                  @white_players,
                                  :id,
                                  :number_name,
                                  {},
                                  { class: 'form-control' }
            = f.submit 'Anotar', class: 'btn btn-default form-control'
