-#
  Renders the form needed to create a new stage in a tournament. This is meant to be rendered inside a div with the modal-dialog class applied to it

  Requires the following instance variables to be initialized:

  @param [Stage] stage An instance of a stage, which will be used to produce the form
#newStage
  .modal-header
    %h2.modal-title= t('stage.new')
  .modal-body
    = form_for @stage do |f|
      = f.hidden_field :tournament_id, value: @stage.tournament_id
      .form-horizontal
        .form-group
          = f.label :name, class: 'col-sm-4 control-label'
          .col-sm-6
            = f.text_field :name, class: 'form-control'
        .form-group
          = render 'public/modal_form_buttons', form: f
