-#
	Displays general information and actions associated with a tournament's stage

	Expects the following instance variables to be defined

	@param [Stage] stage Stage for which the information will be displayed
.panel.panel-primary
	.panel-heading
		%h1.panel-title= t('stage.long_name', stage_name: @stage.name, tournament_name: @stage.tournament.name)
	.panel-body
		.col-xs-12
			.panel.panel-info
				.panel-heading
					.panel-title= t('stage.games')
				.panel-body
					%div
					= render 'games/index_table', games: @stage.games
		.col-xs-12
			= render 'statisticables/show', statisticable: @stage
= render 'stages/navbar', stage: @stage
