-#
  Displays general information and actions associated with a tournament's stage

  Expects the following instance variables to be defined

  @param [Stage] stage Stage for which the information will be displayed
.panel.panel-primary
  .panel-heading
    %h1.panel-title= t('stage.long_name', stage_name: @stage.name, tournament_name: @stage.tournament.name)
  .panel-body
    .col-xs-12
      .panel.panel-info
        .panel-heading
          .panel-title= t('stage.games')
        .panel-body
          %table.table
            %tr
              %th.text-center= t('game.blue_team')
              %th.text-right
              %th.text-center
              %th.text-left
              %th.text-center= t('game.white_team')
              %th.text-center= t('activerecord.attributes.game.status')
              %th.text-center= t('general.actions')
            - for game in @stage.games.order(:created_at)
              %tr
                %td.text-center= game.blue_team.name
                %td.text-right= game.blue_goals
                %td.text-center -
                %td.text-left= game.white_goals
                %td.text-center= game.white_team.name
                %td.text-center= t("game.statuses.#{game.status}")
                %td.text-center
                  = link_to t('game.watch'), game_path(game)
                  - if (can? :update, game)
                    |
                    = link_to t('general.cancel'), game_path(game), method: :delete
    .col-xs-12
      = render 'statisticables/show', statisticable: @stage
= render 'stages/navbar', stage: @stage
