<p><%= t('devise.mailer.salutation_hello', email:  @resource.email) %></p>

<p><%= t('devise.mailer.password_requested') ></p>

<p><%= link_to t('devise.mailer.change_password'), edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.if_not_requested') %></p>
<p><%= t('devise.mailer.password_wont_change') %></p>
