%p= t('devise.mailer.salutation_hello', email:  @resource.email)

%p= t('devise.mailer.password_requested')

%p= link_to t('devise.mailer.change_password'), edit_user_password_url(@resource, reset_password_token: @token)

%p= t('devise.mailer.if_not_requested')
%p= t('devise.mailer.password_wont_change')
