.notifications
  .notice.alert.alert-info= notice
  .alert.alert-danger= alert
- if user_signed_in?
  .navbar-options
    %p.navbar-text
      %a{ href: root_path }= t('game.new')
    %p.navbar-text
      %a{ href: games_path }= t('game.index')
    %p.navbar-text
      %a{ href: statistics_path }= t('statistics.index')
