.notifications
  .alert-info= notice
  .alert-danger= alert
- if user_signed_in?
  %nav.navbar.navbar-default
    .container-fluid
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to t('game.new'), root_path
          %li= link_to t('game.index'), games_path
          %li= link_to t('statistics.index'), statistics_path
          %li
            = link_to t('club.new'), '#', class: 'js-new-club-link'
          = yield :module_navbar
        %ul.nav.navbar-nav.navbar-right
          %li= link_to t('devise.session.log_out'), destroy_user_session_path

= content_for :page_javascript do
  :javascript
    var renderModalError = function()
    {
      $("#appModalContent").html("#{ j render 'public/modal_load_error' }");
    };

    $(document).ready(function()
    {
      // Deal with navbar dropdowns not expanding
      $('li.dropdown').on('click', function(event)
      {
        event.stopPropagation();

        var clickedElement = $(this);

        if(clickedElement.hasClass('open'))
        {
          clickedElement.removeClass('open');
        }
        else
        {
          clickedElement.addClass('open');
        }
      })

      // Render the proper modal when creating a new club
      $('.js-new-club-link').on('click', function(event)
      {
        event.stopPropagation();

        $('#appModalContent').html("#{ j render 'public/modal_loader' }");
        $('#appModal').modal('show');
        $.get("#{new_club_path}")
          .done(function(form)
          {
            // Make sure that I wasn't redirected due to authorization errors.
            if($(form).attr('id') === 'newClub')
            {
              $('#appModalContent').html(form);
            } else
            {
              renderModalError();
            }
          })
          .error(function()
          {
            renderModalError();
          });
      });
    });
