.notifications
  .alert-info= notice
  .alert-danger= alert
- if user_signed_in?
  %nav.navbar.navbar-default
    .container-fluid
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to t('game.new'), root_path, class: 'navbar-link'
          %li= link_to t('game.index'), games_path, class: 'navbar-link'
          %li= link_to t('statistics.index'), statistics_path, class: 'navbar-link'
        %ul.nav.navbar-nav.navbar-right
          %li= link_to t('devise.sessions.log_out'), destroy_user_session_path, class: 'navbar-link navbar-right'
