.notifications
  .alert-info= notice
  .alert-danger= alert
- if user_signed_in?
  %nav.navbar.navbar-default
    .container
      %p.navbar-text
        %a.navbar-link{ href: root_path }= t('game.new')
      %p.navbar-text
        %a.navbar-link{ href: games_path }= t('game.index')
      %p.navbar-text
        %a.navbar-link{ href: statistics_path }= t('statistics.index')
      %p.navbar-text.navbar-right
        %a.navbar-link{ href: destroy_user_session_path }= t('devise.sessions.log_out')
