.notifications
  .alert-info= notice
  .alert-danger= alert
- if user_signed_in?
  %nav.navbar.navbar-default
    .container-fluid
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to t('game.new'), root_path
          %li= link_to t('game.index'), games_path
          %li= link_to t('statistics.index'), statistics_path
        %ul.nav.navbar-nav.navbar-right
          %li= link_to t('devise.session.log_out'), destroy_user_session_path
