%html
  %head
    %title
      1er inviaticional de rugby subacuático 2014
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default{ role: 'navigation' }
      = render 'layouts/top_navbar'
    = yield

= yield :page_javascript
